.news-type-row {
  padding-left: 8px;
  margin: 0 auto;
}

.spinner-margin {
  margin: 5rem auto;
}

.news-row {
  margin: 0 auto;
  width: 100%;
}

.news-card {
  min-height: 20vh;
}

.news-text {
  word-break: break-all;
  white-space: normal;
  max-height: 200px;
  hyphens: auto;
}
