<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshNews($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-content class="d-flex ion-justify-content-center" padding>
    <ion-progress-bar class="progress-bar" *ngIf="!loaded" type="indeterminate"></ion-progress-bar>

    <mat-form-field class="news-type" *ngIf="loaded">
      <mat-label>News Type</mat-label>
      <select matNativeControl (change)="onNewsTypeChange()" [(ngModel)]="selectedNewsType">
        <option>None</option>
        <option *ngFor="let newsType of newsTypes">
          {{ newsType }}
        </option>
      </select>
    </mat-form-field>

    <ng-container *ngFor="let news of allNews">
      <ion-card *ngIf="!news.hidden && loaded" (click)="itemTapped($event, news)">
        <ion-item>
          <ion-icon name="paper" slot="start"></ion-icon>
          <ion-label>{{ news.title }}</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content>
          {{ news.text }}
        </ion-card-content>
      </ion-card>
    </ng-container>

  </ion-content>
</ion-content>
