.sign-up-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.w-100 {
  width: 75%;
}

.d-flex {
  display: flex;
}

.sign-up-button {
  width: 140px;
  height: 40px;
  margin-bottom: 15px;
}

.flex-direction-column {
  flex-direction: column;
}
