<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="sign-up-form" [formGroup]="signUpFormGroup" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline" class="w-100 ion-margin-bottom">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username">
      <mat-error *ngIf="signUpFormGroup.get('username').hasError('username') && !signUpFormGroup.get('username').hasError('required')">
        Please enter a valid username
      </mat-error>
      <mat-error *ngIf="signUpFormGroup.get('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 ion-margin-bottom">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="example@mail.com" formControlName="email">
      <mat-error *ngIf="signUpFormGroup.get('email').hasError('email') && !signUpFormGroup.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signUpFormGroup.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 ion-margin-bottom">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="passwordHash">
      <mat-error *ngIf="signUpFormGroup.get('passwordHash').hasError('passwordHash') && !signUpFormGroup.get('passwordHash').hasError('required')">
        Please enter a valid password
      </mat-error>
      <mat-error *ngIf="signUpFormGroup.get('passwordHash').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="d-flex flex-direction-column ion-align-items-center w-100">
      <button class="sign-up-button" type="submit" mat-stroked-button color="primary">Sign Up</button>
      <a routerLink="/sign-in">Sign In</a>
    </div>
  </form>
</ion-content>
