.like-dislike-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.like {
  margin: 5px;
}

.dislike {
  margin: 5px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.news-details-text {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
}

.news-details-image {
  height: 200px;
}

.my-2 {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.news-image {
  max-width: 200px;
}
